header{
    display: flex;
    background-color: #3f3e3e;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.753);
}
body{
    background: linear-gradient(#F20544, #F2055C, #BF0449, #402431) ;
    background-attachment: fixed;

}

.logo{
    width: 20rem;
    padding: 5px;
}
nav{
    
    height: 100%;
    margin: 5px;
    
}

ul{
    display: flex;
    flex-direction: row;
    height: 100%;

}

.li-nav{
    text-align: center;
    border-radius: 10px;
    
}

.link-nav{
    font-size: 20px;
    color: #FFF;
    height: 30%;
    padding: 1rem;
    text-align: center;
    line-height: 70px;
}

.li-nav:hover{
    background-color: #BF0449;
}

.active{
    background-color: #BF0449;
}