
table, td, th{
    border-bottom: 1px solid #0000007a;
}

table{
    width: 90vw;
    margin: 30px auto ;
    table-layout: auto;
    background-color: #6ac3ff;
    color: #000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000000af;
}

th:nth-child(2n){
    background-color:#26a8ff;
}
td:nth-child(2n){
    background-color:#26a8ff;
}

th,td{
  text-align: center;  
  height: 30px;
  vertical-align: middle;
  font-size: 15px;
}

.button-td{
    font-size: 1.5rem;
    margin: 4px;
    background-color: silver;
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #000000af;
    
}

.deleteEmpresa{
    flex-direction: row-reverse;
    color: red;
    border-radius: 5px;
    justify-items: end;
}
.box-deleteEmpresa{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;

}
.txt-deleteEmpresa{
    
}

.edit{
    background-color: #00ff2a;

}

.delete{
    background-color: red;
}

.add{
    text-align: center;
    vertical-align: middle;
    width: 100%;
    transition: 1s;
}

.add:hover{
    background-color:#FF0E46;
    color: #FFF;
}