/*
#D90404
#A60F0F
#592222
#D96C6C
#F2F2F2
*/

/* @font-face{
    
} */

:root{
    --red: #D90404;
    --redDark1: #A60F0F;
    --redDark2: #592222;
    --redClaro: #D96C6C;
    --silver: #F2F2F2;
}
